h1 {
	font-family: Roboto Slab;
	color: #aa6767;
  text-align: center;
  margin: auto auto;
}
img {
  text-align: center;
  display: block;
  margin: auto auto;
  width: 50%;
}
.signature {
  background: #eee;
  text-align: center;
	text-decoration: none;
  display: block;
  margin: auto auto;
}
div {
  display: flex;
  justify-content: space-around;
  font-family: Arial;
  font-size: 150%;
	text-align: center;
}
a.button {
  color: #eee;
  text-decoration: none;
  padding: 3% 5%;
  border-radius: 5px;
	width: 35%;
}
a.button1 {
  background: #aa6767;
}
a.button1:hover {
  background: #7F4545;
}
a.button2 {
  background: #67aaaa;
}
a.button2:hover {
  background: #457F7F;
}
